@import './_mixinAndVariables.scss';

.logo {
    display: flex;
    padding: 20px;
    cursor: pointer;
    p{
        color: $text-color;
    }
}


    nav {
        @include flex-btw;
        background: $primary-color;
        height: 90px;
        width: 100%;
        min-width: 100vw;
        color: $text-color;
        font-size: 15px;
        line-height: 18.68px;
        padding: 0 50px;
        border-bottom: 1px solid rgba(229, 229, 229, 0.3);
        @include mq('tablet'){
            width: 120vw;
        }
        @include mq('phablet'){
            width: 170vw;
        }
        @include mq('phone-wide'){
            width: 200vw;
        }
        @media (width:823px) and (orientation:landscape){
            width: 130vw;
        }
        &.navbar.fixed{
            position: fixed;
            box-shadow: $nav-shadow;
            width: 100%;
            z-index: 1000;
        }
        .desktopNav {
            @include flex-center;
            flex: 1;
            li {
                margin-left: 40px;
                position: relative;
                a {
                    color: $text-color;
                    &::before{
                        position: absolute;
                        top: 25px;
                        left: 50%;
                        bottom: 10px;
                        height: 2px;
                        width: 0%;
                        content: "";
                        transform: scale(-1);
                        background: linear-gradient(to left, $yellow 0%, $yellow 100%);
                        transition: all 300ms ease;
                    }
                }
                &:hover a::before{
                    left: 0;
                    width: 100%;
                }
            }
            @include mq('phone-wide'){
                display: none;
            }
        }
        .nav3rdsect {
            margin-right: 30px;
            @include flex-btw;
            button {
                @include button($content: 'Contact us');
            }
            a{
                color: $text-color;
                padding-right: 40px;
            }
            button {
                padding-right: 40px;
            }
        }
        .mobileNav {
            display: none;
            width: 100%;
            padding: 10px 0;
            height: 90px;
            position: fixed;
            left: 0;
            bottom: 0;
            background: $primary-color;
            box-shadow: 2px -3px 5px 1px rgba(0, 0, 0, 0.05);
            z-index: 3000;
            overflow: hidden !important;
           
            &:hover a {
                /* filter: blur(1px); */
                filter: opacity(0.5);
            }
            a:hover {
                /* filter: blur(0px); */
                filter: opacity(1);
            }
            li{
                a {
                    @include flex-center(column);
                    transition: all 300ms ease;
                    color: $yellow;
                    i {
                        font-size: 30px;
                    }
                    span {
                        padding-top: 5px;
                        font-size: 15px;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
                            'Lucida Sans', Arial, sans-serif;
                    }
                }  
            } 

            @include mq('phone-wide'){
                @include flex-even;
            }
            @include mq('phone-small'){
                .navLink{
                    i{
                        font-size: 20px;
                    }
                    a{
                        font-size: 12px;
                    }
                }
            }
            
        }
    }